<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <!--
                    <img src="../../../assets/IMG_4872.png" alt="TEE 1104 UNION" height="100">
                    -->
                </div>
                <h1 class="text-center">Member Registration Form</h1>
                <!-- {{user | json}} -->
                <form (ngSubmit)="registerUser()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                            [(ngModel)] = user.username
                            name="username" 
                            matInput 
                            placeholder="Enter your username"
                        />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                            [(ngModel)] = user.password
                            name="password" 
                            matInput 
                            placeholder="Enter your password"
                            type="password"
                        />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input 
                            [(ngModel)] = user.firstName
                            name="firstName"
                            type="text" 
                            matInput 
                            placeholder="Enter First Name"
                        />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Middle Name</mat-label>
                        <input 
                            [(ngModel)] = user.middleName
                            name="middleName"
                            type="text" 
                            matInput 
                            placeholder="Enter Middle Name"
                        />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input 
                            [(ngModel)] = user.lastName
                            name="lastName"
                            type="text" 
                            matInput 
                            placeholder="Enter Last Name"
                        />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input 
                            [(ngModel)] = user.email
                            name="email"
                            matInput 
                            placeholder="pat@example.com" 
                            [formControl]="email" 
                            required
                        />
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Mobile</mat-label>
                        <input 
                            [(ngModel)] = user.mobile
                            name="mobile"
                            type="text"
                            matInput 
                            placeholder="9619132262"
                        />
                        <mat-icon matSuffix>call</mat-icon>
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button type="reset" mat-raised-button color="accent" style="margin-left: 10px;">Clear</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>